doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Ready co.
    meta(name="description", content="")
  body
    section#first-section
      nav.nav
        h4 Ready co.
        a.nav__btn(href="!#") Sign Up
      .container
        .title Nature .
        .images
          .image-wrapper#first
            img(src=require("./img/6.png"))
          .image-wrapper#second
            img(src=require("./img/5.png"))
          .image-wrapper#third
            img(src=require("./img/4.png"))
          .image-wrapper#fourth
            img(src=require("./img/3.png"))
          .image-wrapper#fifth
            img(src=require("./img/2.png"))
          .image-wrapper#sixth
            img(src=require("./img/1.png"))
          .blur
        footer.footer
          ul
            li Instagram.
            li Facebook.
            li Dribble.
            li Twitter.
        .content
          .content__wrapper
            .content__images
              .content__image-wrapper.one
                img(src='https://images.unsplash.com/photo-1550422086-b9589ec2d371?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80')
                h4 W
              .content__image-wrapper.two
                img(src='https://images.unsplash.com/photo-1550433251-d1a8ff40ff05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80')
                h4 E
              .content__image-wrapper.three
                img(src='https://images.unsplash.com/photo-1550364387-ffbad4f8e9b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80')
                h4 S
              .content__image-wrapper.four
                img(src='https://images.unsplash.com/photo-1550183203-8d3ca82400c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80')
                h4 T
            p.content__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
